.pyc
.idea/.name
.idea/misc.xml
.idea/MKVMuxGUI.iml
.idea/modules.xml
.idea/workspace.xml
__pycache__/file_controller.cpython-36.pyc
__pycache__/gui_helper.cpython-36.pyc
__pycache__/output_wrapper.cpython-36.pyc
__pycache__/pymkv_wrapper.cpython-36.pyc
__pycache__/ui_home.cpython-36.pyc
.idea/vcs.xml
